<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/register.css">
    <title>Register</title>
</head>
<body>
<div class="form-wrap">
    <div class="form">
        <form th:action="@{/do-register}" method="post" th:object="${obj}" onclick="return check()">
            <div class="form-header">
                <h3 class="heading">Register</h3>
            </div>

            <div th:if="${error}" th:text="${error}"></div>

            <div class="form-group">
                <label for="yourName" class="form-lable">Your Name</label>
                <input type="text" id="yourName" class="form-input" name="yourName" th:field="*{name}"
                       placeholder="Enter the name" required>
                <span class="form-message"></span>
            </div>

            <div class="form-group">
                <label for="email" class="form-lable">Email</label>
                <input type="text" id="email" class="form-input" name="email" th:field="*{email}"
                       placeholder="Enter the email" required>
                <span class="form-message"></span>
            </div>

            <div class="form-group">
                <label for="userName" class="form-lable">User Name</label>
                <input type="text" id="userName" class="form-input" name="userName" th:field="*{user_name}"
                       placeholder="Enter the User Name" required>
                <span class="form-message"></span>
            </div>

            <div class="form-group">
                <label for="password" class="form-lable">Password</label>
                <input type="password" id="password" class="form-input " name="password" th:field="*{password}"
                       placeholder="Enter the password" required>
                <span class="form-message"></span>
                <span class="toggle-password"><i class="far fa-eye-slash"></i></span>
            </div>

            <div class="form-group">
                <label for="confirm-password" class="form-lable">Repeat password</label>
                <input type="password" id="confirm-password" class="form-input" name="confirm-password"
                       placeholder="Repeat the password" required>
                <span class="form-message"></span>
                <span class="toggle-password"><i class="far fa-eye-slash"></i></span>
            </div>
            <button class="form-submit">Register</button>
        </form>
        <div class="desc">
            <p class="desc-text">Already have a account?</p>
            <a th:href="@{/login}">Log in</a>
        </div>
    </div>
</div>
<script src="js/register.js"></script>
</body>
</html>